$black: #070607;
$blue: #0A1337;
$white: #FFFFFC;
$lightBlue: #D3F9B5;
$green: #DDFC74;

body {
    background: #0B0DC5;
    background: -moz-linear-gradient(-45deg, #0B0DC5 0%, #0A1337 51%, #0B0DC5 100%);
    background: -webkit-linear-gradient(-45deg, #0B0DC5 0%, #0A1337 51%, #0B0DC5 100%);
    background: linear-gradient(135deg, #0B0DC5 0%, #0A1337 51%, #0B0DC5 100%);
    //background-color: $blue;
    color: $white;
}

.navbar {
    background-color: $blue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

        ul {
            list-style: none;
        }
        li { 
            display: inline-block;
        }
        a {
            display: block;
            padding: 6px 40px;
            text-decoration: none;
            color: $white;
        }
  }

  .container {
      width: 100%;
      min-height: 300px;
      //border: 1px solid black;
  }
  .header {
      display: flex;
      justify-content: center;
      margin-top: 70px !important;
      width: 90%;
      margin: auto;
      padding: 10px;

      .logo img {
          border-radius: 30px;
      }
      .paragraph {
          margin-left: 40px;
          text-align: center;
          padding: 20px;
          width: 35%;

          h1 {
            color: $black;
            background-color: $lightBlue;
            border-radius: 10px;
        }
        h2{
            color: $green;
        }
      }
      
  }